/* flexx box
Giúp căn tất cả phần tử con lên 1 hàng
áp dụng cho thẻ cha
*/
:root{
    --main-color: #09b451
}

* {
    font-family: 'Open Sans', sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav a {
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    color: rgba(64, 64, 64, 0.8)
}
.header__nav a:hover{
    color: #242243
}
.btn {
    padding: 12px 24px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.btn--login{
    background-color: transparent;
    color: var(--main-color);
}
.btn--register{
    background-color: var(--main-color);
    color: #fff;
}
.background {
    display: flex;
    align-items: center;
    justify-content: center ;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 180,81,0.08));
    border-radius: 35px;
}
body{
    padding: 0 100px;
}
.background__left h1 {
    font-size: 60px;
}
.background__left{
    width: 600px;
}
.background__right img{
    width: 600px;
}
.--main-color{
    color: var(--main-color);
}